<div class="mb-5">
    <h3><%= t :login %></h3>
    <%= form_with model: @user, method: :post, url: sessions_path do |f| %>
        <%= f.label :username, (t :username) %>
        <%= f.text_field :username, autofocus: true %>
        <%= f.label :password, (t :password) %>
        <%= f.password_field :password %>
        <%= f.submit (t :log_in)%>
    <% end %>
</div>

<%= render 'users/sign_up_form' %>
