<div class="mb-5">
    <h3>Login</h3>
    <%= form_with model: @user, method: :post, url: sessions_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Log in"%>
    <% end %>
</div>

<%= render 'users/sign_up_form' %>
