<li class="lh-sm" id="comment-<%= comment.id %>">
    <div class="comment-header fs-6">
        <div class="comment-tab" id="comment-<%= comment.id %>-upvote">
            <% if comment.is_liked_by?(current_user) %>
                <%= render 'comments/comment_downvote_form',
                            comment: comment %>
            <% else %>
                <%= render 'comments/comment_upvote_form',
                            comment: comment %>
            <% end %>
        </div>
        <span>
            Someone
        </span>
        <span>
            <%= time_ago_in_words(comment.created_at) %> ago
        </span>
        <span>|</span>
        <span id="comment-<%= comment.id %>-points">
            <%= comment.points %> points
        </span>
        <span>|</span>
        <span>
            <%= link_to 'next', '#' %>
        </span>
        <span>|</span>
        <span>
            <%= link_to 'reply',
                new_comment_path(comment: { comment_id: comment.id, }),
                data: { turbo_frame: "reply-form-to-#{comment.id}" } %>

        </span>
    </div>

    <div class="comment-body fs-5 pt-1 text-dark">
        <div class="comment-tab"></div>
        <div class="flex-grow-1">
            <div class="comment-text text-secondary">
                <%= format_text("Comment deleted") %>
            </div>

            <%= turbo_frame_tag "reply-form-to-#{comment.id}" do %>
            <% end %>

            <ul class="text-secondary clean-list"
                id="comments-list-<%= comment.id %>">
            <% comment.subcomments.each do |subcomment| %>
                <% if subcomment.hidden %>
                    <%= render partial: 'comments/hidden_comment',
                               locals: { comment: subcomment } %>
                <% else %>
                    <%= render partial: 'comments/comment',
                               locals: { comment: subcomment } %>
                <% end %>
            <% end %>

            </ul>
        </div>
    </div>
</li>
