<%= form_with model: Comment.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.hidden_field :post_id, value: @post&.id %>
  <%= f.hidden_field :parent_id, value: @parent&.id %>
  <%= f.text_area    :content, rows: 5, autofocus: true,
                     class: 'responsive-text-area'%>
  <p class='mb-2'>
    <%= t(:obby_guidelines_html, guidelines_path: guidelines_path) %>
  </p>
  <%= f.submit t :submit_comment %>
<% end %>