<div id="<%= dom_id(@user, :form) %>">
    <h3><%= t :reset_password %></h3>

    <%= form_for(@user, url: user_password_path, method: :post ) do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>
        <%= f.hidden_field :email %>
        <div class="actions">
            <%= f.submit "Send me reset password instructions" %>
        </div>
    <% end %>
</div>
