<div class="pb-2">
    <h1><%= @user.username %></h1>
    <% if @user === current_user %>
        <%= form_with url: sessions_path, method: :delete do |f|%>
            <%= f.submit "Logout" %>
        <% end %>
    <% end %>
</div>

    <% if @user === current_user %>
        <div class="pt-3 pb-4">
            <%= render partial: '/shared/form', locals: { user: @new_user } %>
            <%= render 'reset_form' %>
        </div> 
    <% end %>

<div>
    <h3><%= @user.username %>'s news posts:</h3>
    <ol class="text-secondary">
        <%= render @user.posts %>
    </ol>
</div>