<span class='d-inline-flex flex-wrap' id='post-header'>
  <span class='me-2'>
    <span id='post-<%= post.id %>-like'>
      <%= render post_like_partial(post, current_user),
                  post: post %>
    </span>

    <span class='lh-1 mt-2'>
      <%= link_to post.title, post_path(post),
                  class: 'fs-4 text-dark',
                  data: { turbo_frame: '_top' } %>

      <% if can_delete_post(post) %>
        <%= render 'shared/delete_button_form',
                    resource: post %>
      <% end %>
    </span>
  </span>

  <% if post.link.present? %>
    <span class='lh-1 me-2'>
      <%= link_to "#{t :read_at} #{post.short_link}",
                  post.link,
                  class: 'text-secondary fs-6' %>
    </span>
  <% end %>

  <span class='lh-1 me-1'>
    <%= link_to "| #{post.category.title} |",
                category_path(post.category.slug),
                class: 'text-primary fs-6' %>
  </span>
</span>
