<div id="post_<%= post.id %>">
    <li class="fs-4 lh-sm pb-2">
        <span class="d-inline-flex flex-wrap">

            <span class="me-2">
                <span id="post-<%= post.id %>-upvote">
                    <% if post.liked_by?(current_user) %>
                        <%= render 'posts/downvote_form', post: post %>
                    <% else %>
                        <%= render 'posts/upvote_form', post: post %>
                    <% end %>
                </span>

                <span class="lh-1 mt-2">
                    <%= link_to post.title, post_path(post),
                                class: "fs-4 text-dark",
                                data: { turbo_frame: "_top" } %>

                </span>
            </span>

            <% if !post.link.blank? %>
                <span class="lh-1 me-2">
                    <%= link_to "#{t :read_at} #{post.short_link}",
                                post.link,
                                class: 'text-secondary fs-6' %>
                </span>
            <% end %>

            <% if post.category %>
                <span class="lh-1 me-1">
                    <%= link_to "| #{post.category.title} |",
                                category_path(post.category.slug),
                                class: 'text-primary fs-6' %>
                </span>
            <% end %>
        </span>

        <span class="d-flex flex-wrap">

        <div class="fs-5 mt-1 d-flex flex-wrap">
            <span class="me-5">
                <%= turbo_frame_tag "post-#{post.id}-points" do %>
                    <%= t :points, count: post.points %>,
                <% end %>
                <%= link_to "#{t :comments} #{post.comments.count}",
                            post_path(post),
                            data: { turbo_frame: '_top' } %>
            </span>
            <span>
                <%= time_ago_in_words(post.created_at) %> <%= t :ago %>,
                <%= t :by %> <%= link_to post.user.email, post.user,
                            class: "text-secondary text-emphasize",
                            data: { turbo_frame: '_top' } %>
            </span>
        </div>
    </li>
</div>