<li class="fs-4 lh-sm pb-2">
    <% @relation =  post.liking_relations.find_by(liking_user: current_user) %>
    <% if @relation %>
        <% @url    = liking_relation_path(@relation) if @relation %>
        <% @method = :delete %>        
        <% @class  = 'text-highlight' %>
    <% else %>
        <% @url    = liking_relations_path %>
        <% @method = :post %>
        <% @class  = 'text-secondary' %>
    <% end %>
    <%= form_with(url: @url, scope: 'liking_relation', 
                  method: @method, class: 'd-inline-block') do |f|%>
        <%= f.hidden_field :liked_post_id, value: post.id %>
        <%= f.hidden_field :liking_user_id, value: current_user.id %>
        <%= button_tag(type: 'submit', class: 'btn', name: nil) do %>
            <i class="fa-solid fa-circle-up <%= @class %>"></i>
        <% end%>
    <% end %>

    <span class="lh-1 mt-2">
        <a href="<%= post_path(post) %>" class="fs-4 text-dark">
            <%= post.title %>
        </a>

        <% if current_user_is_admin || current_user_is_post_author(post) %>
            <%= form_with(model: post, method: :delete,
                            class: "d-inline-block",
                            data: { confirm: "Are you sure?" }) do |f| %>
                <%= f.submit "delete" %>
            <% end %>
        <% end %>
    </span>

    <% if !post.link.blank? %>
        <span class="fs-6">
            (Read at: <%= link_to post.short_link, post.link,
                                class: "text-secondary" %>)
        </span>
    <% end %>

    <div class="fs-5 mt-1">
        <%= pluralize(post.points, "point") %>
        by <%= link_to post.user.username, post.user,
                       class: "text-secondary" %> 
        <%= time_ago_in_words(post.created_at) %> ago
        &emsp;|&emsp;
        <%= link_to "43 comments", post, class: "text-secondary" %>
    </div>
</li>