<h1>Create a post!</h1>

<%= form_with model: @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label      :title,   "Title" %>
    <%= f.text_area  :title,   cols: 50, rows: 1 %>
    <%= f.label      :link,    "Link" %>
    <%= f.text_area  :link,    cols: 50, rows: 1 %>
    <%= f.label      :content, "Text" %>
    <%= f.text_area  :content, cols: 50, rows: 5 %>
    <%= f.submit     "Submit", class: "d-block" %>
<% end %>