<ol class="text-secondary clean-list">
    <%= render @post %>
</ol>

<p class="mb-2 text-primary fs-5 ms-3">
    <%= format_text(@post.content) %>
</p>
<p class="text-primary mb-3">
    <em>
        ~<%= link_to @post.user.username, @post.user, class: "text-primary"%>
    </em>
</p>

<div id="submit-comment-form">
    <%= render 'comments/submit_comment_form',
            post:    @post %>
</div>

<h3 class="pt-4">Comments:</h3>
<ul class="text-secondary clean-list" id="comments-list">
    <% @comments.each_with_index do |comment| %>
        <%= render partial: 'comments/comment',
                   locals: { comment: comment } %>
    <% end %>
</ul>
