<footer>
  <nav class='navbar-expand'>    
    <div class='container footer-container bg-body-side-color pb-4 pt-2'>
      <hr class='border-3 opacity-100 border-main-color'>
      <div class='navbar-collapse justify-content-center' id='navbarNav'>
        <ul class='navbar-nav text-secondary'>
          <li class='nav-item border-0'>
            <a href='<%= guidelines_path %>' class='nav-link'>
              <%= t 'guidelines.default' %>
            </a>
          </li>
          <li class='nav-item border-0'>
            <a href='<%= faq_path %>' class='nav-link'>
              FAQ
            </a>
          </li>
          <li class='nav-item border-0'>
            <a href='<%= contact_path %>' class='nav-link'>
              <%= t :contact %>
            </a>
          </li>
        </ul>
      </div>
    </div> 
  </nav>
</footer>
