<header>
  <nav class="navbar navbar-expand-sm bg-body-main-color">
    <div class="container-fluid">
      <a href=<%= root_path %> class="navbar-brand">Cyberpunk News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mt-auto">
          <li class="nav-item">
            <a href=<%= root_path %> class="nav-link active" aria-current="page"><%= t :home %></a>
          </li>
          <li class="nav-item">
            <a href=<%= new_path %> class="nav-link"><%= t :new %></a>
          </li>
          <li class="nav-item">
            <a href=<%= users_path %> class="nav-link"><%= t 'users.lower' %></a>
          </li>
          <li class="nav-item">
            <a href=<%= new_post_path %> class="nav-link"><%= t :create %></a>
          </li>
        </ul>

        <ul class="languages">
          <%= language_selector %>
        </ul>
        <% if logged_in? %>
          <%= link_to (t :profile), user_path(current_user),
                                    class: "nav-link login-link" %>
        <% else %>
          <%= link_to (t :login), login_path,
                                  class: "nav-link login-link"%>
        <% end %>
      </div>
    </div>
  </nav>
</header>